/* _content/Blazor.UI.LoginForms/Login.razor.rz.scp.css */
.my-component[b-hnphnfkype] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
